@media (max-width: 1200px) {
    .menu-block {
        width: 100%;
        display: flex;
    }

    .menu-block li a {
        padding: 0;
    }

    .menu-block li:first-child {
        padding: 0 5px 9px 5px;
    }
}





@media (max-width: 991.98px) {

    .complaints {
        width: auto;
    }

}

@media (max-width: 767.98px) {
    .body-block {
        width: 100%;
    }

    .title-block {
        width: 457px;
    }
}

@media (max-width: 575.98px) {
    .title-block {
        width: 286px;
    }

    .menu-block {
        padding: 7px 0 7px 10px;
        display: block;
    }

    .menu-block li a {
        margin-bottom: 10px;
    }

    .menu-block li:first-child {
        padding: 0 55px 13px 0px;
    }
}

@media (max-width: 390px) {
    .title-block {
        width: 194px;
    }

    .qa-links li {
        width: 260px;
    }
}